<!DOCTYPE html>
<html>

<head>
    <% include ../../../includes/header.ejs %>
</head>

<body>
    <% include ../../../includes/nav.ejs %>
    <div class="container">
        <div class="prove03">
            <div>
                <form action="/proveActivities/03/search" method="post">
                    <label>Search</label>
                    <input type="text" name="search" id="search" size="50" value="<%=search%>">
                    <button type="submit">Search</button>
                </form>
            </div>
            <% for (e of products) {%>
            <section>
                <img src="<%=e.imageUrl%>" alt="<%=e.title%>">
                <div>
                    <h2><%=e.title%></h2>
                    <h3>Price: $<%=e.price%></h3>
                    <a href="/proveActivities/03/<%=e.id%>">Ver Detalles</a>
                </div>
            </section>
            <%}%>    
      
    </div>
  </div>

</body>
</html>